.game__box{
    position:relative;
    box-sizing: content-box;
    display:flex;
    justify-content: center;
    width:500px;
}
.head__title{
    z-index: 1;
    position: absolute;
    top:0px;
    width:100%;
    background-color: rgba(0,0,0,0.7);
    color: white;
    margin:0px;
    display: flex;
    justify-content: center;
}
.result{
    width:250px;
}
.img__box{
    display: flex;
    position:relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 221, 221, 0.5);
}
img{
    width:250px;
    height:auto;
}
.img__name{
    /* background-color: rgba(0, 0, 0, 0.7); */
    color:white;
    position:absolute;
    bottom:20px;
    left:10px;
    text-shadow: 1px 1px 2px black, 0 0 1em black;
}
.border{
    border:3px solid black;
    box-sizing:content-box;
}
